@using CancerLabWeb.Helpers
@model CancerLabWeb.Models.DoctorProfile

@{
    ViewBag.Title = "CancerLab - Редактирование профиля";
    Layout = "~/Views/Shared/_DashboardLayout.cshtml";
}

<div class="col col-12">
    <section class="widget">
        <header class="widget__header">Редактирование личных данных</header>
        <div class="widget__body">
                @using (Html.BeginForm("ManageProfile","Dashboard", FormMethod.Post, new {@class= "form form_action_edit" }))
                {
                    <div class="form__group">
                        @Html.TextBoxFor(x => x.LastName, new {@class = "input", placeholder = "Фамилия"})
                        @Html.TextBoxFor(x => x.Name, new {@class = "input", placeholder = "Имя"})
                        @Html.TextBoxFor(x => x.SecondName, new {@class = "input", placeholder = "Отчество"})
                    </div>

                    <div class="form__group">
                        <input class="input" type="password" name="Password" placeholder="Пароль">
                        <input class="input" type="password" name="NewPassword" placeholder="Новый пароль">
                        <input class="input" type="password" name="ConfirmNewPassword" placeholder="Повторите пароль">
                    </div>

                    <div class="form__group">
                        @Html.TextBoxFor(x => x.PhoneNumber, new {@class="input", placeholder="Номер телефона"})
                        @Html.TextBoxFor(x => x.Email, new {@class="input", placeholder="Номер телефона", disabled="disabled"})
                    </div>

                    <div class="form__group">
                        @Html.TextBoxFor(x => x.Organisation, new { @class = "input", placeholder = "Организация" })
                        @Html.TextBoxFor(x => x.Position, new { @class = "input", placeholder = "Должность" })
                    </div>
                    @Html.Button("Отменить", new { @class="button", type="reset"})
                    @Html.Button("Сохранить изменения", new { @class="button", type="submit"})
                }
        </div>
    </section>
</div>
