@using CancerLabWeb.Helpers
@model CancerLabWeb.Models.RegisterModel
@{
    Layout = "~/Views/Shared/_AccountLayout.cshtml";
    ViewBag.Title = "Регистрация";
}

<section class="registration">
    <header class="registration__header">
        <h1 class="title">Cancer Lab – регистрация</h1>
    </header>
    @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form form_action_register" }))
    {
        @Html.AntiForgeryToken()
        @Html.TextBoxFor(x=>x.Email, new {@class="input", @placeholder="E-Mail", @tabindex="1"})
        @Html.PasswordFor(x=>x.Password, new {@class="input", @placeholder="Пароль", @tabindex="2"})
        @Html.PasswordFor(x=>x.ConfirmPassword, new {@class="input", @placeholder= "Повторите пароль", @tabindex="3"})
        @Html.TextBoxFor(x => x.LastName, new { @class = "input", @placeholder = "Фамилия", @tabindex = "4" })
        @Html.TextBoxFor(x => x.Name, new { @class = "input", @placeholder = "Имя", @tabindex = "5" })
        @Html.TextBoxFor(x => x.SecondName, new { @class = "input", @placeholder = "Отчество", @tabindex = "6" })
        @Html.TextBoxFor(x => x.PhoneNumber, new { @class = "input", @placeholder = "Номер телефона", @tabindex = "7" })
        @Html.TextBoxFor(x => x.Organisation, new { @class = "input", @placeholder = "Организация", @tabindex = "8" })
        @Html.TextBoxFor(x => x.Position, new { @class = "input", @placeholder = "Должность", @tabindex = "9" })
        <div class="form__group">
            @Html.Button("Сбросить", new { @class="button", @type="reset", @tabindex="11"})
            @Html.Button("Регистрация", new { @class="button", @type="submit", @tabindex="10"})
        </div>
    }
    <a class="link" href="@Url.Action("Login", "Account")">Вход в систему</a>
    @{
        foreach (var modelState in ViewData.ModelState.Values)
        {
            foreach (var error in modelState.Errors)
            {
                <div class="alert alert_type_error">@error.ErrorMessage</div>
            }
        }
    }
</section>