@{
    Layout = null;
}
<!DOCTYPE html>

<html class="page page_type_login" lang="ru">
<head>
    <title>CancerLab – Вход</title>
    <meta charset="utf-8" />
    <meta name="author" content="Elena Musatova, Vladimir Milenko" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width" />

    <!-- Project's styles -->
    @Styles.Render("~/Content/projectcss")
    @Styles.Render("~/Content/cssfont")

</head>

<body class="page__body">
    @RenderBody()

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryui")
    @Scripts.Render("~/bundles/jqueryvalidate")
    @Scripts.Render("~/bundles/project")
</body>
</html>

