@using CancerLabWeb.Helpers

@{
    Layout = null;
}

<!DOCTYPE html>
<html class="page" lang="ru">
<head>
    <title>CancerLab – Главная</title>
    <meta charset="utf-8" />
    <meta name="author" content="Elena Musatova, Vladimir Milenko" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width" />

    <!-- Project's styles -->
    @Styles.Render("~/Content/css")
</head>

<body class="page__body">
    <div class="page__wrapper">
        <aside class="sidebar">
            <div class="sidebar__logo">
                
                <a class="logo" href="@Url.Action("Index","Dashboard")">Cancer Lab</a>
            </div>

            <form class="form form_action_search" action="" method="post">
                <input class="input" type="search" placeholder="Поиск пациента">
            </form>

            <nav class="menu">
                <a class="link menu__link @Html.IsSelected("Dashboard","Index", "menu__link_state_active")" href="@Url.Action("Index","Dashboard")">
                    <i class="fa fa-dashboard"></i><span class="menu__text">Главная</span>
                </a>

                <a class="link menu__link @Html.IsSelected("Patients","Index","menu__link_state_active")" href="#">
                    <i class="fa fa-users"></i><span class="menu__text">Пациенты</span>
                </a>

                <a class="link menu__link @Html.IsSelected("Treatments","Index","menu__link_state_active")" href="#">
                    <i class="fa fa-clipboard"></i><span class="menu__text">Обращения</span>
                </a>

                <a class="link menu__link @Html.IsSelected("Dashboard","ManageProfile","menu__link_state_active")" href="@Url.Action("ManageProfile","Dashboard")">
                    <i class="fa fa-user"></i><span class="menu__text">Профиль</span>
                </a>
            </nav>
        </aside>

        <section class="section">
            <header class="header clearfix">
                <h1 class="title">@ViewBag.PageName</h1>


                @Html.Action("Notifications", "Dashboard")

                @Html.Action("DoctorInfo", "Dashboard")
               
            </header>

            <div class="content clearfix">
                @RenderBody()
            </div>

            <footer class="footer">
                <nav class="footer__navigation">
                    <a class="link" href="@Url.Action("Index", "Dashboard")">Главная</a>
                    <a class="link" href="about.html">О проекте</a>
                </nav>

                <div class="copyright">
                    &copy;<span class="copyright__year">2016</span>&nbsp;&nbsp;
                    <a class="link" href="https://github.com/HealthCareLabs">HealthCareLabs</a>
                </div>
            </footer>
        </section>
    </div>

<!-- Project's scripts -->

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryui")
    @Scripts.Render("~/bundles/jqueryvalidate")
    @Scripts.Render("~/bundles/project")
</body>

</html>