@model CancerLabWeb.Areas.Dashboard.Models.PatientProfile

@{
    Layout = "~/Areas/Dashboard/Views/Shared/_DashboardLayout.cshtml";
}

<div class="col col-12">
    <section class="widget">
        <header class="widget__header">Карточка пациента #@Model.PatientId</header>
        <div class="widget__body">
            <ul class="card">
                <li class="card__item">
                    <div class="col col-3"><span class="string">ФИО:</span></div>
                    <div class="col col-9"><span class="string">@Model.LastName @Model.Name @Model.SecondName</span></div>
                </li>
                <li class="card__item">
                    <div class="col col-3"><span class="string">Дата рождения:</span></div>
                    <div class="col col-9"><span class="string">@(((DateTime)Model.BirthdayDate).ToLongDateString())</span></div>
                </li>
                <li class="card__item">
                    <div class="col col-3"><span class="string">Пол:</span></div>
                    <div class="col col-9"><span class="string">@Model.Gender</span></div>
                </li>
                <li class="card__item">
                    <div class="col col-3"><span class="string">Место проживания:</span></div>
                    <div class="col col-9"><span class="string">Республика Татарстан, г. Иннополис, ул. Университетская, д.1</span></div>
                </li>
                <li class="card__item">
                    <div class="col col-3"><span class="string">Номер медицинского полиса:</span></div>
                    <div class="col col-9"><span class="string">@Model.PolicyNumber</span></div>
                </li>
                <li class="card__item">
                    <div class="col col-3"><span class="string">Дата регистрации в системе:</span></div>
                    <div class="col col-9"><span class="string">@(((DateTime)Model.RegisterDate).ToLongDateString())</span></div>
                </li>
                <li class="card__item">
                    <div class="col col-3"><span class="string">Дата последнего обращения:</span></div>
                    <div class="col col-9">
                        <span class="string">
                            @if (Model.LastMessageTime != null)
                            {
                                @(((DateTime) Model.LastMessageTime).ToLongDateString());
                            }
                            else
                            {
                                @:Нет обращений
                            }
                        </span>
                    </div>
                </li>
                <li class="card__item">
                    <div class="col col-3"><span class="string">Контактный телефон:</span></div>
                    <div class="col col-9"><span class="string">@Model.PhoneNumber</span></div>
                </li>
                <li class="card__item">
                    <div class="col col-3"><span class="string">Контактный E-mail:</span></div>
                    <div class="col col-9">
                        <a class="link" href="mailto:@Model.Email">@Model.Email</a>
                    </div>
                </li>
            </ul>
        </div>
    </section>
</div>

@Html.Action("TreatmentList", "Treatments")
